<div class="new-customer-container">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input required matInput placeholder="First Name">
      </mat-form-field>
      
      <mat-form-field class="example-full-width">
        <input required matInput placeholder="Last Name">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input type="tel" matInput placeholder="पत्ता">
      </mat-form-field>
  
      <h4>जिल्हा</h4>
      <mat-form-field>
        <mat-select>
          <mat-option>None</mat-option>
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field class="example-full-width">
        <input required type="tel" matInput placeholder="मोबाइल नंबर">
      </mat-form-field>
  
      <mat-form-field class="example-full-width">
        <input type="tel" matInput placeholder="मोबाइल नंबर">
      </mat-form-field>
  
      <button mat-fab><mat-icon>trending_flat</mat-icon></button>
      <button mat-fab class="clear-left"><mat-icon>cached</mat-icon></button>
    </form>
  </div>
  