<div class="semen-buyer-container">
    <form class="example-form">
        <mat-form-field>
            <h4>सिमेन ब्रँड</h4>
          <mat-select>
            <mat-option>Select Semen</mat-option>
            <mat-option *ngFor="let semenInfo of semen" value="semenInfo.id">{{semenInfo.semen_name}}</mat-option>          
          </mat-select>
        </mat-form-field>
      
      <mat-form-field class="example-full-width">        
        <input disabled matInput placeholder="नग">
      </mat-form-field>
  
      <mat-form-field class="example-full-width">
        <input disabled matInput placeholder="सुरुवातीची शिल्लक">
      </mat-form-field>      
  
      <mat-form-field class="example-full-width">
        <input required matInput placeholder="घेतलेले नग">
      </mat-form-field>
  
      <mat-form-field class="example-full-width">
        <input matInput placeholder="प्रत्येकी किंमत">
      </mat-form-field>
      
      <mat-form-field class="example-full-width">
        <input disabled matInput placeholder="एकूण रक्कम">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="एकूण नग">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="इतर खर्च">
      </mat-form-field>

      <button mat-fab type="submit"><mat-icon>trending_flat</mat-icon></button>
      <button mat-fab class="clear-left"><mat-icon>cached</mat-icon></button>
    </form>
  </div>
  