.report-container
  display: block;
  height: 90%;
  justify-content: center;
  align-items: center; 

.report-form 
  min-width: 150px;
  max-width: 900px;
  width: 100%;
  justify-content: center;
  align-items: center; 
  margin-top: 20px;

.report-width
  width: 100%;

.clear-left
    margin-left: 3em;

.report-box1
  display: flex;
  width: 900px;
  float: none;
  justify-content: center;
  align-items: center;
  padding-left: 15em; 
  padding-top: 15px;

.report-box2
  display: flex;
  width: 1000px;
  float: none;
  padding-top: 20px;
  padding-left: 20em;
  justify-content: center;
  align-items: center;

.report-box3
  display: flex;
  width: 980px;
  float: none;
  padding-top: 20px;
  padding-left: 11em;
  justify-content: center;
  align-items: center;

.report-box4
  display: flex;
  width: 1050px;
  float: none;
  padding-top: 20px;
  padding-left: 20em;
  justify-content: center;
  align-items: center;

.report-box5
  display: flex;
  width: 580px;
  float: none;
  padding-top: 20px;
  padding-left: 15em;
  justify-content: center;
  align-items: center;



  


.animalType
  margin-right: 20px;
  
