<div class="new-user-container">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="वापरकर्त्याचे नाव">
    </mat-form-field>
  
    <div class="select-gender">
      <label class="gender">लिंग: </label>
      <mat-radio-group formControlName="floatLabel">
        <mat-radio-button value="male" class="gender">पुरुष</mat-radio-button>
        <mat-radio-button value="female">स्त्री</mat-radio-button>
      </mat-radio-group>
    </div>

    <mat-form-field class="example-full-width">
      <input type="tel" matInput placeholder="मोबाइल नंबर">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input type="email" matInput placeholder="ईमेल">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input required matInput placeholder="वापरकर्त्याचे नाव">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input required type="password" matInput placeholder="पासवर्ड">
    </mat-form-field>

    <button mat-fab><mat-icon>trending_flat</mat-icon></button>
  </form>
</div>
